<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Receipe_Finder.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BF4D926D1E97E468001C7D99</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BF4D92811E97E468001C7D99</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BF4D928C1E97E468001C7D99</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
